/* Grundlegende Styles für das Layout */
body {
	font-family: Arial, sans-serif;
	text-align: center;
    background-color: #410c00;
    background-color: rgba(65,12,0,0.9);
}

.text {
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

#wortfeld {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 18px;
}

#tastatur {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin: auto;
}

#zielWort {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.zieldiv {
	font-size: 30px;
	display: inline-flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	margin: 5px;
}

.letter {
	width: 50px;
	height: 50px;
	background-color: #f40000;
	margin: 25px;
	border-style: double;
	border: solid 4px;
	border-radius: 50%;
	border-color: white;
    outline-style: solid;
    outline-color: #200094;
    outline-width: 200%;
    color:white;
	cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    font-size: 150%;
    font-weight:bold

}

.letter:hover {
	background-color: #200094;
}

.letter-clicked-success {
	background-color: #200094;
	border-color: white;
	cursor: default;
}

.letter-clicked-failed {
	background-color: grey;
	border-color: red;
	cursor: default;
}

#ergebnis {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
    color: white;
}
